@page
@model ProShopPlus.Pages.Orders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<hr/>

<!-- NEW SECTION -->

<div class="container">
    <div class="row">
        <div class="col-3 mt-1">
            <h2><i class="fa-solid fa-truck-fast">&nbsp;&nbsp;Order&nbsp;&nbsp;@Model.Order.ID</i></h2>
        </div>
        <div class="col-3 mt-1 text-nowrap">
            <h4>@Model.Order.Progress</h4>
        </div>
        <div class="col-4">
            <a asp-page="./Edit" asp-route-id="@Model.Order?.ID" class="btn btn-primary d-grid">
                <h4><i class="fa-solid fa-pencil"></i><strong>&nbsp;UPDATE&nbsp;</strong><i class="fa-solid fa-pencil"></i></h4>
            </a>
        </div>
        <div class="col-1 d-grid">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteOrder">
                <h4><i class="fa-solid fa-trash"></i></h4>
            </button>
        </div>
        <div class="col-1 d-grid">
            <a asp-page="./Index" class="btn btn-secondary"><h4><i class="fa-solid fa-table-list"></i></h4></a>
        </div>
    </div>
    <hr />

    <!-- --- --- --- Table Info --- --- --- -->

    <div class="row">
        <div class="col-11">
            <table class="table g-0" style="font-size:large">
                <thead>
                    <tr class="text-nowrap">
                        <th>Start Date:</th>
                        <th>Name:</th>
                        <th>Reference Code:</th>
                        <th>Cost:</th>
                        <th>Paid:</th>
                        <th>Balance:</th>
                    </tr>
                    <tr class="text-nowrap">
                        <td>@Model.Order.StartDate</td>
                        <td>@Model.Contact.Name</td>
                        <td>@Model.Order.OrderCode</td>
                        <td>£@Model.Order.Cost</td>
                        <td>@Model.Order.Paid</td>
                        <td>£@Model.Order.Balance</td>
                    </tr>
                </thead>
                
            </table>
        </div>
        <div class="col-1">
            <a class="btn btn-lg btn-info d-block mt-3" asp-page="/Contacts/Details" asp-route-id="@Model.Order.ContactID">
                <h1><i class="fa-solid fa-user"></i></h1>
            </a>
        </div>
    </div>

<!-- --- --- --- Order Dates --- --- --- -->

    <dl class="row mt-3" style="font-size:x-large">
        <dt class="col-2">Ordered Date:</dt>
        <dd class="col-2">@Model.Order.OrderDate</dd>

        <dt class="col-2">Estimated Date:</dt>
        <dd class="col-2">@Model.Order.EstimatedDate</dd>

        <dt class="col-2">Arrived Date:</dt>
        <dd class="col-2">@Model.Order.ArrivedDate</dd>
    </dl>
    <hr/>
<!-- --- --- --- Order Info --- --- --- -->

    <dl class="row mt-3" style="font-size:x-large">
        <dt class="col-1">Brand:</dt>
        <dd class="col-11">@Model.Order.Brand</dd>
        <dt class="col-12 text-decoration-underline">Product Information:</dt>
        <dd class="col-12">@Model.Order.Product</dd>
    </dl>

</div>


















































































<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteOrder" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                <button type="button" id="closeBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <h6> Are you sure you want to remove this repair? </h6>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>