@page
@model ProShopPlus.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Edit">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].StartDate)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Order[0].EstimatedDate)
            </th>
            
            
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Progress)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedDate)
            </td>
            
            
            
            <td>
                @Html.DisplayFor(modelItem => item.Progress)
            </td>
            
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
