@page
@model ProShopPlus.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Order Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Edit">Create New</a>
</p>

<div class="g-0">
    <table class="table table-hover accordion table-borderless">
        <thead class="bg-white sticky-top top-0">
            <tr class="">
                <th colspan="2">
                    <h2><i class="fa-solid fa-truck-fast">&nbsp;&nbsp;Orders</i></h2>
                </th>
                <form>
                <th colspan="4">
                    <div class="input-group input-group-lg">
                        <!--  -->
                        <input type="text" class="form-control"  placeholder="Search Name" aria-label="Search Name" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="submit" value="search" id="button-addon2"><i class="fa fa-search"></i></button>

                    </div>
                </th>
                <th colspan="1">
                    <select  class="selectpicker form-control input-group-lg" data-style="btn-outline-secondary" multiple  placeholder="Hide" data-selected-text-format="static" autocomplete="off">
                        <option value="[1] New">New</option>
                        <option value="[2] Ordered">Ordered</option>
                        <option value="[3] Arrived">Arrived</option>
                        <option value="[4] Contacted">Contacted</option>
                        <option value="[5] Collected">Collected</option>
                        <option value="[6] Problem">Problem</option>
                    </select>
                </th>
                </form>
                <th colspan="2">
                    <div class="d-grid input-group input-group-lg  ">
                        <a asp-page="./Edit" class="btn btn-success text-nowrap"><i class="fa fa-truck-fast fa-lg" aria-hidden="true"></i><i class="fa fa-plus fa-lg" aria-hidden="true"></i></a>
                    </div>
                </th>
            </tr>

            <tr class="border-bottom border-dark">
                <th class="w-2-5"><i class="fa-solid fa-hashtag"></i></th>
                <th class="w-15">Contact</th>
                <th class="w-10"></th>
                <th class="w-20">Start&nbsp;Date</th>
                <th class="w-20">Estimated&nbsp;Date</th>
                <th class="w-7-5"></th>
                <th class="w-7-5">Status</th>
                <th class="w-10"></th>
                <th class="w-5 text-center"><i class="fa fa-sticky-note"></i></th>
            </tr>
        </thead>
        <tbody>
            @{
                string rowNum = "a";
            }

            @foreach (var item in Model.OrderList)
            {
                rowNum += "1";
                <tr class="border-bottom">
                    <td><a class="d-flex text-decoration-none text-black text-nowrap" asp-page="./Details" asp-route-id="@item.ID">@item.ID</a></td>
                    <td colspan="2"><a class="d-flex text-decoration-none text-black text-nowrap" asp-page="./Details" asp-route-id="@item.ID">@item.Contact?.Name</a></td>
                    <td><a class="d-flex text-decoration-none text-black text-nowrap" asp-page="./Details" asp-route-id="@item.ID">@item.StartDate </a></td>
                    <td colspan="2"><a class="d-flex text-decoration-none text-black text-nowrap" asp-page="./Details" asp-route-id="@item.ID"> &nbsp;@item.EstimatedDate</a></td>
                    <td colspan="2"><a class="d-flex text-decoration-none text-black text-nowrap" asp-page="./Details" asp-route-id="@item.ID">@item.Progress</a></td>
                    
                    <td class="text-center" data-bs-toggle="collapse" data-bs-target="#@rowNum"><i class="fa fa-chevron-down"></i></td>
                </tr>

                <tr class="collapse accordion-collapse" id="@rowNum" data-bs-parent=".table">
                    <td class="bg-light text-center"><i class="fa-solid fa-arrow-turn-up fa-rotate-90"></i></td>
                    <td colspan="2" class="bg-light"><strong>Brand: </strong> @item.Brand</td>
                    <td colspan="5" class="bg-light"><strong>Products: </strong> @item.Product</td>
                    <td class="bg-light text-center"><i class="fa-solid fa-arrow-turn-down fa-rotate-90"></i></td>
                </tr>
            }


        </tbody>





    </table>

</div>