@page
@model ProShopPlus.Pages.Repairs.DetailsModel

@{
    ViewData["Title"] = "Details";
}


 
<!-- --- --- --- Header --- --- --- -->
<!--
<div class="container">
    <div class="row">
        <div class="col-3 mt-1">
            <h2><i class="fa-solid fa-screwdriver-wrench">&nbsp;&nbsp;Repair&nbsp;&nbsp;@Model.Repair.ID</i></h2>
        </div>
        <div class="col-3 mt-1 text-nowrap">
            <h4>@Model.Repair.Progress</h4>
        </div>
        <div class="col-4">
            <a asp-page="./Edit" asp-route-id="@Model.Repair?.ID" class="btn btn-primary d-grid">
                <h4><i class="fa-solid fa-wrench"></i><strong>&nbsp;UPDATE&nbsp;</strong><i class="fa-solid fa-wrench"></i></h4>
            </a>
        </div>
        <div class="col-1 d-grid">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteRepair">
                <h4><i class="fa-solid fa-trash"></i></h4>
            </button>
        </div>
        <div class="col-1 d-grid">
            <a asp-page="./Index" class="btn btn-secondary"><h4><i class="fa-solid fa-table-list"></i></h4></a>
        </div>
    </div>
    <hr />
-->
<!-- --- --- --- Table Info --- --- --- -->
<!--
    <div class="row">
        <div class="col-11">
            <table class="table g-0" style="font-size:large">
                <thead>
                    <tr class="text-nowrap">
                        <th>Start Date:</th>
                        <th>Target Date:</th>
                        <th>Name:</th>
                        <th>Cost:</th>
                        <th>Paid:</th>
                        <th>Balance:</th>
                    </tr>
                    <tr class="text-nowrap">
                        <td>@Model.Repair.StartDate</td>
                        <td>@Model.Repair.TargetDate</td>
                        <td>@Model.Contact.Name</td>
                        <td>£@Model.Repair.Cost</td>
                        <td>@Model.Repair.Paid</td>
                        <td>£@Model.Repair.Balance</td>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-1">
            <a class="btn btn-lg btn-info d-block mt-3" asp-page="/Contacts/Details" asp-route-id="@Model.Repair.ContactID">
                <h1><i class="fa-solid fa-user"></i></h1>
            </a>
        </div>
    </div>
    -->
<!-- --- --- --- Repair Info --- --- --- -->
<!--
    <dl class="row" style="font-size:x-large">
        <dt class="col-2">Repair Type:</dt>
        <dd class="col-10">@Model.Repair.Type</dd>

        <dt class="col-4">Components:</dt>
        <dt class="col-8">Description:</dt>

        <dd class="col-4">@Model.Repair.Component</dd>
        <dd class="col-8">@Model.Repair.Description</dd>
    </dl>

</div>

-->







<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteRepair" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                <button type="button" id="closeBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <h6> Are you sure you want to remove this repair? </h6>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





<link rel="stylesheet" href="~/css/PSPCustom.css" asp-append-version="true" />

<div class="adminWrapper">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span class="header-icon">
                        <i class="fa fa fa-lg fa-screwdriver-wrench"></i>
                    </span>
                
                    <div class="header-title">
                        <h1>
                            <div class="memberInfo">REPAIR&nbsp;&nbsp;@Model.Repair.ID</div>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <!-- Breadcrumbs -->
        <div class="rightLinksWrapper" style="">
            <ul class="rightLinks">
            </ul>
        </div>
        <div class="breadcrumbsWrapper">
            <p class="breadcrumbs">
                <a href="./Index">Repair List</a> &gt;  <a href="Details?id=@Model.Repair?.ID">Repair @Model.Repair?.ID</a>
            </p>
        </div>

        <!-- Repair Info Section -->
        <form>
            <div class="row">
                <div class="col-sm-3">
                    <!-- Contact Info -->
                    <section class="slate">
                        <h3><span class="slate-heading-frame"><span class="slate-heading-slant"><!-- --></span><span class="title">Contact Info</span></span></h3>
                        <div class="links">
                            <a asp-page="/Contacts/Details" asp-route-id="@Model.Contact?.ID" style="margin-bottom: 20px; cursor: pointer; float:right; font-size:small;">View</a>
                            
                        </div>
                        <div class="slateContent">
                            <div id="member_personal_area">
                                <table class="admin" style="width: 100%">
                                    <tbody>
                                        <tr>
                                            <td colspan=""><strong>Name</strong></td>
                                            <td>@Model.Contact?.Name</td>
                                        </tr>
                                        
                                        <tr>
                                            <td colspan=""><strong>Phone Number</strong></td>
                                            <td>@Model.Contact?.PhoneNumber</td>
                                        </tr>
                                        <tr>
                                            <td colspan=""><strong>Extra Number</strong></td>
                                            <td>@Model.Contact?.AltPhoneNumber</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                    <!-- Payment Info -->
                    <section class="slate">
                        <h3><span class="slate-heading-frame"><span class="slate-heading-slant"><!-- --></span><span class="title">Payment Info</span></span></h3>
                        
                        <div class="slateContent">
                            <div id="member_personal_area">
                                <table class="admin" style="width: 100%">
                                    <tbody>
                                        <tr>
                                            <td colspan=""><strong>Cost:</strong></td>
                                            <td>£@Model.Repair?.Cost</td>
                                        </tr>

                                        <tr>
                                            <td colspan=""><strong>Paid:</strong></td>
                                            <td>@Model.Repair?.Paid</td>
                                        </tr>
                                        <tr>
                                            <td colspan=""><strong>Balance:</strong></td>
                                            <td>£@Model.Repair?.Balance</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>

                </div>

                <div class="col-sm-9">
                    <!-- repair Info -->
                    <section class="slate">
                        <h3><span class="slate-heading-frame"><span class="slate-heading-slant"><!-- --></span><span class="title">Repair Info</span></span></h3>
                        <div class="links">
                            <a asp-page="./Edit" asp-route-id="@Model.Repair?.ID" style="margin-bottom: 20px; cursor: pointer; float:right; font-size:small;">Update</a>
                            <a href="#" class="btn btn-danger" style="margin-bottom: 20px; cursor: pointer; float:right; font-size:small;" data-bs-toggle="modal" data-bs-target="#deleteRepair">Delete</a>
                        </div>
                        <div class="slateContent">
                            <div id="member_personal_area">
                                <table class="admin" style="width: 100%">
                                    <tbody>
                                        <tr>
                                            <th class="w-10">Start&nbsp;Date:</th>
                                            <td colspan="" class="w-10">@Model.Repair?.StartDate</td>
                                            <td class="w-5"></td>
                                            <th class="w-12">Target&nbsp;Date:</th>
                                            
                                            <td>@Model.Repair?.TargetDate</td>
                                        </tr>
                                        <tr style="font-size:large">
                                            <th colspan="2">Repair Type:</th>
                                            <td colspan="4" class="border-bottom">@Model.Repair?.Type</td>
                                        </tr>
                                        <tr style="font-size:large">
                                            <th colspan="2">Components:</t>
                                            <td colspan="4" class="border-bottom" style="white-space: pre-wrap;">@Model.Repair?.Component</td>
                                        </tr>
                                        <tr style="font-size:large">
                                            <th colspan="2">Description:</th>
                                            <td colspan="4" class="border-bottom"  style="white-space: pre-wrap;">@Model.Repair?.Description</td>
                                        </tr>
                                        
                                        <tr style="font-size:large">
                                            <th colspan="2">Progress:</th>
                                            <td colspan="4">@Model.Repair?.Progress</td>
                                        </tr>
                                        <tr>
                                            <td> &nbsp;</td>
                                        </tr>
                                        <tr style="font-size:large">
                                            
                                            <td colspan="5">
                                                <a asp-page="./Edit" asp-route-id="@Model.Repair?.ID" class="btn btn-primary d-grid">
                                                    <h4><i class="fa-solid fa-wrench"></i><strong>&nbsp;UPDATE&nbsp;</strong><i class="fa-solid fa-wrench"></i></h4>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </form>
    </div>
















</div>