@page
@model ProShopPlus.Pages.Repairs.DetailsModel

@{
    ViewData["Title"] = "Details";
}


<hr/>

<!-- --- --- --- Header --- --- --- -->

<div class="container">
    <div class="row">
        <div class="col-3 mt-1">
            <h2><i class="fa-solid fa-screwdriver-wrench">&nbsp;&nbsp;Repair&nbsp;&nbsp;@Model.Repair.ID</i></h2>
        </div>
        <div class="col-3 mt-1 text-nowrap">
            <h4>@Model.Repair.Progress</h4>
        </div>
        <div class="col-4">
            <a asp-page="./Edit" asp-route-id="@Model.Repair?.ID" class="btn btn-primary d-grid">
                <h4><i class="fa-solid fa-wrench"></i><strong>&nbsp;UPDATE&nbsp;</strong><i class="fa-solid fa-wrench"></i></h4>
            </a>
        </div>
        <div class="col-1 d-grid">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteRepair">
                <h4><i class="fa-solid fa-trash"></i></h4>
            </button>
        </div>
        <div class="col-1 d-grid">
            <a asp-page="./Index" class="btn btn-secondary"><h4><i class="fa-solid fa-toolbox"></i></h4></a>
        </div>
    </div>
    <hr />

<!-- --- --- --- Table Info --- --- --- -->

    <div class="row">
        <div class="col-11">
            <table class="table g-0" style="font-size:large">
                <thead>
                    <tr class="text-nowrap">
                        <th>Start Date:</th>
                        <th>Target Date:</th>
                        <th>Name:</th>
                        <th>Cost:</th>
                        <th>Paid:</th>
                        <th>Balance:</th>
                    </tr>
                    <tr class="text-nowrap">
                        <td>@Model.Repair.StartDate</td>
                        <td>@Model.Repair.TargetDate</td>
                        <td>@Model.Contact.Name</td>
                        <td>£@Model.Repair.Cost</td>
                        <td>@Model.Repair.Paid</td>
                        <td>£@Model.Repair.Balance</td>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-1">
            <a class="btn btn-lg btn-info d-block mt-3" asp-page="/Contacts/Details" asp-route-id="@Model.Repair.ContactID">
                <h1><i class="fa-solid fa-user"></i></h1>
            </a>
        </div>
    </div>

<!-- --- --- --- Repair Info --- --- --- -->

    <dl class="row" style="font-size:x-large">
        <dt class="col-2">Repair Type:</dt>
        <dd class="col-10">@Model.Repair.Type</dd>

        <dt class="col-4">Components:</dt>
        <dt class="col-8">Description:</dt>

        <dd class="col-4">@Model.Repair.Component</dd>
        <dd class="col-8">@Model.Repair.Description</dd>
    </dl>

</div>



























<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteRepair" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                <button type="button" id="closeBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <h6> Are you sure you want to remove this repair? </h6>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>