@page
@model ProShopPlus.Pages.Contacts.Contacts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-7">
            <h1 class="display-5">@Model.Contact.Name</h1>
        </div>
        <div class="col-5">
            <form method="post">
                <div class="btn-group float-end" role="group">
                    <a asp-page="./Edit" asp-route-id="@Model.Contact?.ID" class="btn btn-primary btn-lg">Edit Contact</a>
                    <input type="submit" value="Delete Contact" class="btn btn-danger btn-lg" />
                    <a asp-page="./Index" class="btn btn-secondary btn-lg align-self-end">Back to List</a>
                </div>
                    
            </form>
        </div>
    </div>
</div>
<hr />

<table class="table">
    <thead class="table-light">
        <tr>
            <th>Phone Number</th>
            <th>Extra Number</th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Contact?.PhoneNumber</td>
            <td>@Model.Contact?.AltPhoneNumber</td>
            <td> </td>
        </tr>
    </tbody>
</table>
<table class="table">
    <thead class="table-light">
        <tr>
            <th>Contact Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Contact?.Notes</td>
        </tr>
    </tbody>
</table>
