@page
@model ProShopPlus.Pages.Contacts.Contacts.DetailsModel

@{
    ViewData["Title"] = "Details";
}


<div class="container-fluid g-0">
    <div class="row">
        <div class="col-6">
            <h1 class="display-5">@Model.Contact?.Name</h1>
        </div>
        <div class="d-grid col-6 g-0">
            <div class="btn-group" role="group">
                <a asp-page="./Edit" asp-route-id="@Model.Contact?.ID" class="btn btn-primary "><h3><i class="fa-solid fa-user-gear"></i></h3></a>
                <button type="button" class="btn btn-danger " data-bs-toggle="modal" data-bs-target="#deleteContact"><h3><i class="fa fa-user-times"></i></h3></button>
                <a asp-page="./Index" class="btn btn-secondary"><h3><i class="fa fa-address-book" aria-hidden="true"></i></h3></a>
            </div>
        </div>
    </div>

    <div class="row mt-1">




<div class="position-relative g-0">
<table class="table g-0">
    <thead class="table-light">
        <tr>
            <th>Phone Number</th>
            <th>Extra Number</th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Contact?.PhoneNumber</td>
            <td>@Model.Contact?.AltPhoneNumber</td>
            <td> </td>
        </tr>
    </tbody>
</table>
<table class="table">
    <thead class="table-light">
        <tr>
            <th>Contact Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Contact?.Notes</td>
        </tr>
    </tbody>
</table>
        </div>
    </div>
</div>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                REPAIRS Active
            </button>
        </h2>
        <div id="collapseOne" class="accordation-collapse collapse show">
            <div class="accordion-body">
                
                <table class="table g-0">
                    <thead>
                        <tr class="text-nowrap">
                            <th>#</th>
                            <th>Start Date:</th>
                            <th>Type:</th>
                            <th>Progress:</th>
                            <th>Target Date:</th>
                            <th>Paid:</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.RepairList)
                        {
                            <tr class="border-bottom">
                                <td>@item.ID</td>
                                <td>@item.StartDate</td>
                                <td>@item.Type</td>
                                <td>@item.Progress</td>
                                <td>@item.TargetDate &nbsp;</td>
                                <td>@item.Paid</td>
                                <td><a asp-page="/Repairs/Details" asp-route-id="@item.ID">View</a></td>
                            </tr>   
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                ORDERS Active
            </button>
        </h2>
        <div id="collapseTwo" class="accordation-collapse collapse show">
            <div class="accordion-body">
                <table class="table g-0">
                    <thead>
                        <tr class="text-nowrap">
                            <th>#</th>
                            <th>Start Date:</th>
                            <th>Brand:</th>
                            <th>Status:</th>
                            <th>Target Date:</th>
                            <th>Paid:</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderList)
                        {
                            <tr class="border-bottom">
                                <td>@item.ID</td>
                                <td>@item.StartDate</td>
                                <td>@item.Brand</td>
                                <td>@item.Progress</td>
                                <td>@item.EstimatedDate &nbsp;</td>
                                <td>@item.Paid</td>
                                <td><a asp-page="/Orders/Details" asp-route-id="@item.ID">View</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<hr/>

<div class="accordion" id="accordionExample2">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                REPAIRS Complete
            </button>
        </h2>
        <div id="collapseThree" class="accordation-collapse collapse ">
            <div class="accordion-body">

                <table class="table g-0">
                    <thead>
                        <tr class="text-nowrap">
                            <th>#</th>
                            <th>Start Date:</th>
                            <th>Type:</th>
                            <th>Progress:</th>
                            <th>Target Date:</th>
                            <th>Paid:</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CompleteRepairList)
                        {
                            <tr class="border-bottom">
                                <td>@item.ID</td>
                                <td>@item.StartDate</td>
                                <td>@item.Type</td>
                                <td>@item.Progress</td>
                                <td>@item.TargetDate &nbsp;</td>
                                <td>@item.Paid</td>
                                <td><a asp-page="/Repairs/Details" asp-route-id="@item.ID">View</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                ORDERS Complete
            </button>
        </h2>
        <div id="collapseFour" class="accordation-collapse collapse ">
            <div class="accordion-body">
                <table class="table g-0">
                    <thead>
                        <tr class="text-nowrap">
                            <th>#</th>
                            <th>Start Date:</th>
                            <th>Brand:</th>
                            <th>Status:</th>
                            <th>Target Date:</th>
                            <th>Paid:</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CompleteOrderList)
                        {
                            <tr class="border-bottom">
                                <td>@item.ID</td>
                                <td>@item.StartDate</td>
                                <td>@item.Brand</td>
                                <td>@item.Progress</td>
                                <td>@item.EstimatedDate &nbsp;</td>
                                <td>@item.Paid</td>
                                <td><a asp-page="/Orders/Details" asp-route-id="@item.ID">View</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>







































<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteContact" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                <button type="button" id="closeBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <h6> Are you sure you want to remove @Model.Contact?.Name ? </h6>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

