@page
@model ProShopPlus.Pages.Contacts.Contacts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<!-- OLD HEADER 
<div class="container-fluid g-0">
    <div class="row">
        <div class="col-6">
            <h1 class="display-5">@Model.Contact?.Name</h1>
        </div>
        <div class="d-grid col-6 g-0">
            <div class="btn-group" role="group">
                <a asp-page="./Edit" asp-route-id="@Model.Contact?.ID" class="btn btn-primary "><h3><i class="fa-solid fa-user-gear"></i></h3></a>
                <button type="button" class="btn btn-danger " data-bs-toggle="modal" data-bs-target="#deleteContact"><h3><i class="fa fa-user-times"></i></h3></button>
                <a asp-page="./Index" class="btn btn-secondary"><h3><i class="fa fa-address-book" aria-hidden="true"></i></h3></a>
            </div>
        </div>
    </div>

 </div> -->
 


<!-- ACCORDION STUFF 

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                REPAIRS Active
            </button>
        </h2>
        <div id="collapseOne" class="accordation-collapse collapse show">
            <div class="accordion-body">
                
                <table class="table g-0">
                    <thead>
                        <tr class="text-nowrap">
                            <th>#</th>
                            <th>Start Date:</th>
                            <th>Type:</th>
                            <th>Progress:</th>
                            <th>Target Date:</th>
                            <th>Paid:</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.RepairList)
                        {
                            <tr class="border-bottom">
                                <td>@item.ID</td>
                                <td>@item.StartDate</td>
                                <td>@item.Type</td>
                                <td>@item.Progress</td>
                                <td>@item.TargetDate &nbsp;</td>
                                <td>@item.Paid</td>
                                <td><a asp-page="/Repairs/Details" asp-route-id="@item.ID">View</a></td>
                            </tr>   
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                ORDERS Active
            </button>
        </h2>
        <div id="collapseTwo" class="accordation-collapse collapse show">
            <div class="accordion-body">
                <table class="table g-0">
                    <thead>
                        <tr class="text-nowrap">
                            <th>#</th>
                            <th>Start Date:</th>
                            <th>Brand:</th>
                            <th>Status:</th>
                            <th>Target Date:</th>
                            <th>Paid:</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderList)
                        {
                            <tr class="border-bottom">
                                <td>@item.ID</td>
                                <td>@item.StartDate</td>
                                <td>@item.Brand</td>
                                <td>@item.Progress</td>
                                <td>@item.EstimatedDate &nbsp;</td>
                                <td>@item.Paid</td>
                                <td><a asp-page="/Orders/Details" asp-route-id="@item.ID">View</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<hr/>

<div class="accordion" id="accordionExample2">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                REPAIRS Complete
            </button>
        </h2>
        <div id="collapseThree" class="accordation-collapse collapse ">
            <div class="accordion-body">

                <table class="table g-0">
                    <thead>
                        <tr class="text-nowrap">
                            <th>#</th>
                            <th>Start Date:</th>
                            <th>Type:</th>
                            <th>Progress:</th>
                            <th>Target Date:</th>
                            <th>Paid:</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CompleteRepairList)
                        {
                            <tr class="border-bottom">
                                <td>@item.ID</td>
                                <td>@item.StartDate</td>
                                <td>@item.Type</td>
                                <td>@item.Progress</td>
                                <td>@item.TargetDate &nbsp;</td>
                                <td>@item.Paid</td>
                                <td><a asp-page="/Repairs/Details" asp-route-id="@item.ID">View</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                ORDERS Complete
            </button>
        </h2>
        <div id="collapseFour" class="accordation-collapse collapse ">
            <div class="accordion-body">
                <table class="table g-0">
                    <thead>
                        
                        <tr class="text-nowrap">
                            <th>#</th>
                            <th>Start Date:</th>
                            <th>Brand:</th>
                            <th>Status:</th>
                            <th>Target Date:</th>
                            <th>Paid:</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CompleteOrderList)
                        {
                            <tr class="border-bottom">
                                <td>@item.ID</td>
                                <td>@item.StartDate</td>
                                <td>@item.Brand</td>
                                <td>@item.Progress</td>
                                <td>@item.EstimatedDate &nbsp;</td>
                                <td>@item.Paid</td>
                                <td><a asp-page="/Orders/Details" asp-route-id="@item.ID">View</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



-->




<link rel="stylesheet" href="~/css/testSite.css" asp-append-version="true" />

<div class="adminWrapper">
    <header>
        <div class="container">
            
            <div class="row">
                <div class="col-md-4">
                    <span class="header-icon">
                        <i class="fa fa fa-lg fa-user"></i>
                    </span>

                    <div class="header-title">
                        <h1>
                            <div class="memberInfo">@Model.Contact?.Name   <small><strong>@Model.Contact?.ID</strong></small> </div>
                        </h1>


                    </div>
                </div>
                <!--
                <div class="col-md-8 header-right noprint">
                    <form action="/membership_search.php" method="get" style="text-align:right">
                        <input class="form-control autocomplete" type="text" placeholder="Search for membership # or name" size="35" data-autocomplete="playersearch" id="autoplayersearch" value="" data-include-inactive="1" name="string" autocomplete="off">
                    </form>
                    <script>
                        $(document).ready(function () {
                            $("#autoplayersearch").focus();
                        });
                    </script>
                </div>
                -->
            </div>



            <!-- TAB BAR FOR THE FURTURE RESEARCH NEEDED  
            <div class="tabsWrapper noprint">
                <ul class="tabList">
                    <li class="current  navtab-overview">
                        <div class="tabLinkWrapper"><a href="/member.php?memberid=77717&amp;tab=overview" target=""><span class="tabInner">Overview</span></a></div>

                    </li>
                    <li class="  navtab-subscription">
                        <div class="tabLinkWrapper"><a href="/member.php?memberid=77717&amp;tab=subscription" target=""><span class="tabInner">Subscription</span></a></div>

                    </li>
                    <li class="  navtab-accounts">
                        <div class="tabLinkWrapper"><a href="/member.php?memberid=77717&amp;tab=accounts" target=""><span class="tabInner">Statement</span></a></div>

                    </li>
                    <li class="  navtab-payments">
                        <div class="tabLinkWrapper"><a href="/member.php?memberid=77717&amp;tab=payments" target=""><span class="tabInner">Bills &amp; Payments</span></a></div>

                    </li>
                    <li class="  navtab-epos">
                        <div class="tabLinkWrapper"><a href="/member.php?memberid=77717&amp;tab=epos" target=""><span class="tabInner">EPOS Account</span></a></div>

                    </li>
                    <li class="  navtab-notes">
                        <div class="tabLinkWrapper"><a href="/member.php?memberid=77717&amp;tab=notes" target=""><span class="tabInner">Notes <span class="updatenum updatenum-zero">0</span></span></a></div>

                    </li>
                    <li class="  navtab-email">
                        <div class="tabLinkWrapper"><a href="/member.php?memberid=77717&amp;tab=email" target=""><span class="tabInner"><span class="ig-icon ig-icon-envelope-white"><span class="iconInner"></span></span>Contact</span></a></div>

                    </li>
                    <li class=" rightTab navtab-log">
                        <div class="tabLinkWrapper"><a href="/member.php?memberid=77717&amp;tab=log" target=""><span class="tabInner">Logs</span></a></div>

                    </li>
                </ul>
            </div>
            -->
            
        </div> <!-- end topLeft -->
    </header>

    <div class="container">

        <!-- Breadcrumbs -->
        <div class="rightLinksWrapper" style="">
            <ul class="rightLinks">
            </ul>
        </div>
        <div class="breadcrumbsWrapper">
            <p class="breadcrumbs">
                <a href="./Index">Contacts</a> &gt;  <a href="Details?id=@Model.Contact?.ID">@Model.Contact?.Name</a>
            </p>
        </div>
        
        <!-- Contact Info Section -->
        <form>
            <div class="row">
                <div class="col-sm-4">
                    <section class="slate">
                        <h3><span class="slate-heading-frame"><span class="slate-heading-slant"><!-- --></span><span class="title">Contact Info</span></span></h3>
                        <div class="links">
                             <a asp-page="./Edit" asp-route-id="@Model.Contact?.ID" style="margin-bottom: 20px; cursor: pointer; float:right; font-size:small;">Update</a>
                             <a href="#" class="btn btn-danger" style="margin-bottom: 20px; cursor: pointer; float:right; font-size:small;" data-bs-toggle="modal" data-bs-target="#deleteContact">Delete</a>
                        </div>
                        <div class="slateContent">
                            <div id="member_personal_area">
                                <table class="admin" style="width: 100%">
                                    <tbody>
                                        <tr>
                                            <td colspan=""><strong>Name</strong></td>
                                            <td>@Model.Contact?.Name</td>
                                        </tr>
                                        <tr>
                                            <td colspan=""><strong>Contact ID</strong></td>
                                            <td>@Model.Contact?.ID</td>
                                        </tr>
                                        <tr>
                                            <td colspan=""><strong>Phone Number</strong></td>
                                            <td>@Model.Contact?.PhoneNumber</td>
                                        </tr>
                                        <tr>
                                            <td colspan=""><strong>Extra Number</strong></td>
                                            <td>@Model.Contact?.AltPhoneNumber</td>
                                        </tr>
                                        <tr>
                                            <td colspan=""><strong>Notes</strong></td>
                                            
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                @Model.Contact?.Notes
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>




                </div>

                <div class="col-sm-8">

                    <!--        REPAIRS SECTION     -->
                    <section class="slate">

                        <h3><span class="slate-heading-frame"><span class="slate-heading-slant"><!-- --></span><span class="title">Repairs</span></span></h3>
                        <div class="links">
                            <a asp-page="/Repairs/Edit" class="btn btn-primary"  style="margin-bottom: 20px; cursor: pointer; float:right; font-size:small;">
                                <i class="fa fa-plus-circle"></i>Add Repair &nbsp;
                            </a>
                            
                        </div>
                        <div class="slateContent">
                            <div id="member_memstatus_area">
                                <table class="admin" style="width: 100%">

                                    <thead>
                                        <tr>
                                            <th colspan="3">Active</th>
                                        </tr>
                                        <tr class="text-nowrap border-bottom">
                                            <th class="w-10">#</th>
                                            <th class="w-15">Start Date:</th>
                                            <th class="w-15">Target Date:</th>
                                            <th class="w-25">Type:</th>
                                            <th class="w-25">Progress:</th>
                                            <th class="w-7-5">&nbsp;</th>
                                            <th class="w-2-5">&nbsp;</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ string rowNumA = "a";}

                                        @foreach (var item in Model.RepairList)
                                        {
                                            rowNumA += '1';
                                            <tr class="border-bottom">
                                                <td>@item.ID</td>
                                                <td>@item.StartDate</td>
                                                <td>@item.TargetDate</td>
                                                <td>@item.Type</td>
                                                <td>@item.Progress</td>
                                                <td><a asp-page="/Repairs/Details" asp-route-id="@item.ID">View</a></td>
                                                <td class="text-end" data-bs-toggle="collapse" data-bs-target="#@rowNumA"><i class="fa fa-chevron-down"></i></td>
                                            </tr>
                                            <!-- Drop down with more info -->
                                            <tr class="collapse accordion-collapse" id="@rowNumA" data-bs-parent=".table">
                                                <td class="bg-light"><i class="fa-solid fa-arrow-turn-up fa-rotate-90"></i></td>
                                                <td class="bg-light"><strong>Cost:</strong> £@item.Cost</td>
                                                <td class="bg-light"><strong>Paid: </strong> @item.Paid</td>
                                                <td colspan="3" class="bg-light"><strong>Balance: </strong> £@item.Balance</td>
                                                <td class="bg-light text-end"><i class="fa-solid fa-arrow-turn-down fa-rotate-90"></i></td>
                                            </tr>
                                            <tr class="collapse accordion-collapse" id="@rowNumA" data-bs-parent=".table">
                                                <td class="bg-light"><i class="fa-solid fa-arrow-turn-up fa-rotate-90"></i></td>
                                                <td colspan="2" class="bg-light"><strong>Components:</strong></td>
                                                <td colspan="3" class="bg-light"><strong>Description: </strong></td>
                                                <td class="bg-light text-end"><i class="fa-solid fa-arrow-turn-down fa-rotate-90"></i></td>
                                            </tr>
                                            <tr class="collapse accordion-collapse" id="@rowNumA" data-bs-parent=".table">
                                                <td class="bg-light"><i class="fa-solid fa-arrow-turn-up fa-rotate-90"></i></td>
                                                <td colspan="2" class="bg-light">@item.Component</td>
                                                <td colspan="3" class="bg-light">@item.Description</td>
                                                <td class="bg-light text-end"><i class="fa-solid fa-arrow-turn-down fa-rotate-90"></i></td>
                                            </tr>

                                            
                                        }
                                    </tbody>
                                    
                                </table>
                                <!--        FINISHED REPAIR TABLE       -->
                                <table class="admin" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th colspan="3">Finished</th>
                                        </tr>
                                        <tr class="text-nowrap border-bottom">
                                            <th class="w-10">#</th>
                                            <th class="w-15">Start Date:</th>
                                            <th class="w-15">Target Date:</th>
                                            <th class="w-25">Type:</th>
                                            <th class="w-25">Progress:</th>
                                            <th class="w-7-5">&nbsp;</th>
                                            <th class="w-2-5">&nbsp;</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            string rowNumB = "b";
                                        }
                                        @foreach (var item in Model.CompleteRepairList)
                                        {
                                            rowNumA += '1';
                                            <tr class="border-bottom">
                                                <td>@item.ID</td>
                                                <td>@item.StartDate</td>
                                                <td>@item.TargetDate</td>
                                                <td>@item.Type</td>
                                                <td>@item.Progress</td>
                                                <td><a asp-page="/Repairs/Details" asp-route-id="@item.ID">View</a></td>
                                                <td class="text-end" data-bs-toggle="collapse" data-bs-target="#@rowNumB"><i class="fa fa-chevron-down"></i></td>
                                            </tr>
                                            <!-- Drop down with more info -->
                                            <tr class="collapse accordion-collapse" id="@rowNumB" data-bs-parent=".table">
                                                <td class="bg-light"><i class="fa-solid fa-arrow-turn-up fa-rotate-90"></i></td>
                                                <td class="bg-light"><strong>Cost:</strong> £@item.Cost</td>
                                                <td class="bg-light"><strong>Paid: </strong> @item.Paid</td>
                                                <td colspan="3" class="bg-light"><strong>Balance: </strong> £@item.Balance</td>
                                                <td class="bg-light text-end"><i class="fa-solid fa-arrow-turn-down fa-rotate-90"></i></td>
                                            </tr>
                                            <tr class="collapse accordion-collapse" id="@rowNumB" data-bs-parent=".table">
                                                <td class="bg-light"><i class="fa-solid fa-arrow-turn-up fa-rotate-90"></i></td>
                                                <td colspan="2" class="bg-light"><strong>Components:</strong></td>
                                                <td colspan="3" class="bg-light"><strong>Description: </strong></td>
                                                <td class="bg-light text-end"><i class="fa-solid fa-arrow-turn-down fa-rotate-90"></i></td>
                                            </tr>
                                            <tr class="collapse accordion-collapse" id="@rowNumB" data-bs-parent=".table">
                                                <td class="bg-light"><i class="fa-solid fa-arrow-turn-up fa-rotate-90"></i></td>
                                                <td colspan="2" class="bg-light">@item.Component</td>
                                                <td colspan="3" class="bg-light">@item.Description</td>
                                                <td class="bg-light text-end"><i class="fa-solid fa-arrow-turn-down fa-rotate-90"></i></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>

                    <!--        ORDERS SECTION     -->
                    <section class="slate">

                        <h3><span class="slate-heading-frame"><span class="slate-heading-slant"><!-- --></span><span class="title">Orders</span></span></h3>
                        <div class="links">
                            <a asp-page="/Orders/Edit" class="btn btn-primary" style="margin-bottom: 20px; cursor: pointer; float:right; font-size:small;">
                                <i class="fa fa-plus-circle"></i>Add Order &nbsp;
                            </a>
                        </div>
                        <div class="slateContent">
                            <div id="member_memstatus_area">
                                <table class="admin" style="width: 100%">

                                    <thead>
                                        <tr>
                                            <th colspan="3">Active</th>
                                        </tr>
                                        <tr class="text-nowrap border-bottom">
                                            <th class="w-7-5">#</th>
                                            <th class="w-15">Start Date:</th>
                                            <th class="w-15">Order Date:</th>
                                            <th class="w-15">Arrived Date:</th>
                                            <th class="w-20">Brand:</th>
                                            <th class="w-17-5">Status:</th>
                                            <th class="w-7-5">&nbsp;</th>
                                            <th class="w-2-5">&nbsp;</th>
                                            

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ string rowNumC = "c";}

                                        @foreach (var item in Model.OrderList)
                                        {
                                            rowNumC += '1';
                                            <tr class="border-bottom">
                                                <td>@item.ID</td>
                                                <td>@item.StartDate</td>
                                                <td>@item.OrderDate</td>
                                                <td>@item.ArrivedDate</td>
                                                <td>@item.Brand</td>
                                                <td>@item.Progress</td>
                                                
                                                
                                                <td><a asp-page="/Orders/Details" asp-route-id="@item.ID">View</a></td>
                                                <td class="text-end" data-bs-toggle="collapse" data-bs-target="#@rowNumC"><i class="fa fa-chevron-down"></i></td>
                                            </tr>

                                            <!-- Drop down with more info -->
                                            <tr class="collapse accordion-collapse" id="@rowNumC" data-bs-parent=".table">
                                                <td class="bg-light"><i class="fa-solid fa-arrow-turn-up fa-rotate-90"></i></td>
                                                <td colspan="2" class="bg-light"><strong>Ref Code:&nbsp;&nbsp;</strong><span class="text-align-last"> @item.OrderCode </span></td>
                                                <td class="bg-light text-end"><strong>Cost:&nbsp;&nbsp;</strong></td>
                                                <td class="bg-light">£@item.Cost </td>
                                                
                                                <td colspan="2" class="bg-light"><strong>Balance: </strong></td>
                                                <td class="bg-light text-end"><i class="fa-solid fa-arrow-turn-down fa-rotate-90"></i></td>
                                            </tr>
                                            <tr class="collapse accordion-collapse" id="@rowNumC" data-bs-parent=".table">
                                                <td class="bg-light"><i class="fa-solid fa-arrow-turn-up fa-rotate-90"></i></td>
                                                <td colspan="1" class="bg-light"><strong>Target Date:</strong></td>
                                                <td colspan="1" class="bg-light">@item.EstimatedDate</td>
                                                <td class="bg-light text-end"><strong>Paid:&nbsp;&nbsp;</strong></td>
                                                <td class="bg-light">@item.Paid </td>
                                                <td colspan="2" class="bg-light">£@item.Balance</td>
                                                <td class="bg-light text-end"><i class="fa-solid fa-arrow-turn-down fa-rotate-90"></i></td>
                                            </tr>
                                            <tr class="collapse accordion-collapse" id="@rowNumC" data-bs-parent=".table">
                                                <td class="bg-light"><i class="fa-solid fa-arrow-turn-up fa-rotate-90"></i></td>
                                                <td colspan="1" class="bg-light"><strong>Product Info:</strong></td>
                                                <td colspan="5" class="bg-light">@item.Product</td>
                                                <td class="bg-light text-end"><i class="fa-solid fa-arrow-turn-down fa-rotate-90"></i></td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>

                                <table class="admin" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th colspan="3">Finished</th>
                                        </tr>
                                        <tr class="text-nowrap border-bottom">
                                            <th class="w-7-5">#</th>
                                            <th class="w-15">Start Date:</th>
                                            <th class="w-15">Order Date:</th>
                                            <th class="w-15">Arrived Date:</th>
                                            <th class="w-20">Brand:</th>
                                            <th class="w-17-5">Status:</th>
                                            <th class="w-7-5">&nbsp;</th>
                                            <th class="w-2-5">&nbsp;</th>



                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            string rowNumD = "d";
                                        }
                                        @foreach (var item in Model.CompleteOrderList)
                                        {
                                            rowNumC += '1';
                                            <tr class="border-bottom">
                                                <td>@item.ID</td>
                                                <td>@item.StartDate</td>
                                                <td>@item.OrderDate</td>
                                                <td>@item.ArrivedDate</td>
                                                <td>@item.Brand</td>
                                                <td>@item.Progress</td>


                                                <td><a asp-page="/Orders/Details" asp-route-id="@item.ID">View</a></td>
                                                <td class="text-end" data-bs-toggle="collapse" data-bs-target="#@rowNumD"><i class="fa fa-chevron-down"></i></td>
                                            </tr>

                                            <!-- Drop down with more info -->
                                            <tr class="collapse accordion-collapse" id="@rowNumD" data-bs-parent=".table">
                                                <td class="bg-light"><i class="fa-solid fa-arrow-turn-up fa-rotate-90"></i></td>
                                                <td colspan="2" class="bg-light"><strong>Ref Code:&nbsp;&nbsp;</strong><span class="text-align-last"> @item.OrderCode </span></td>
                                                <td class="bg-light text-end"><strong>Cost:&nbsp;&nbsp;</strong></td>
                                                <td class="bg-light">£@item.Cost </td>

                                                <td colspan="2" class="bg-light"><strong>Balance: </strong></td>
                                                <td class="bg-light text-end"><i class="fa-solid fa-arrow-turn-down fa-rotate-90"></i></td>
                                            </tr>
                                            <tr class="collapse accordion-collapse" id="@rowNumD" data-bs-parent=".table">
                                                <td class="bg-light"><i class="fa-solid fa-arrow-turn-up fa-rotate-90"></i></td>
                                                <td colspan="1" class="bg-light"><strong>Target Date:</strong></td>
                                                <td colspan="1" class="bg-light">@item.EstimatedDate</td>
                                                <td class="bg-light text-end"><strong>Paid:&nbsp;&nbsp;</strong></td>
                                                <td class="bg-light">@item.Paid </td>
                                                <td colspan="2" class="bg-light">£@item.Balance</td>
                                                <td class="bg-light text-end"><i class="fa-solid fa-arrow-turn-down fa-rotate-90"></i></td>
                                            </tr>
                                            <tr class="collapse accordion-collapse" id="@rowNumD" data-bs-parent=".table">
                                                <td class="bg-light"><i class="fa-solid fa-arrow-turn-up fa-rotate-90"></i></td>
                                                <td colspan="1" class="bg-light"><strong>Product Info:</strong></td>
                                                <td colspan="5" class="bg-light">@item.Product</td>
                                                <td class="bg-light text-end"><i class="fa-solid fa-arrow-turn-down fa-rotate-90"></i></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>

                </div>

            </div>
        </form>

        <div style="clear:both"></div>
    </div>
</div>












<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteContact" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                <button type="button" id="closeBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <h6> Are you sure you want to remove @Model.Contact?.Name ? </h6>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Repair View Modal -->
<div class="modal fade" id="RepairView" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="repairModalLabel">Repair</h5>
                <button type="button" id="closeBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <table class="admin" style="width: 100%">
                        <thead>
                            
                            <tr class="text-nowrap border-bottom">
                                <th class="w-10">#</th>
                                <th class="w-15">Start Date:</th>
                                <th class="w-15">Target Date:</th>
                                <th class="w-25">Type:</th>
                                <th class="w-25">Progress:</th>
                                <th class="w-10">&nbsp;</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model.RepairList)
                            {
                                
                                
                                    <tr class="border-bottom">
                                        <td>@item.ID</td>
                                        <td>@item.StartDate</td>
                                        <td>@item.TargetDate</td>
                                        <td>@item.Type</td>
                                        <td>@item.Progress</td>
                                    </tr>
                                
                            }
                        </tbody>
                    </table>
                    
                    <div class="modal-footer">
                        
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>