@page
@model ProShopPlus.Pages.Contacts.Contacts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-7">
            <h1 class="display-5">@Model.Contact.Name</h1>
        </div>
        <div class="col-5">
                <div class="btn-group float-end" role="group">
                    <a asp-page="./Edit" asp-route-id="@Model.Contact?.ID" class="btn btn-lg btn-primary ">Edit Contact</a>
                    <button type="button" class="btn btn-danger btn-lg " data-bs-toggle="modal" data-bs-target="#deleteContact">Delete Contact</button>
                    <a asp-page="./Index" class="btn btn-lg btn-secondary">Back to List</a>
                </div>
        </div>
    </div>
</div>
<hr />

<table class="table">
    <thead class="table-light">
        <tr>
            <th>Phone Number</th>
            <th>Extra Number</th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Contact?.PhoneNumber</td>
            <td>@Model.Contact?.AltPhoneNumber</td>
            <td> </td>
        </tr>
    </tbody>
</table>
<table class="table">
    <thead class="table-light">
        <tr>
            <th>Contact Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Contact?.Notes</td>
        </tr>
    </tbody>
</table>


<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteContact" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                <button type="button" id="closeBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <h6> Are you sure you want to remove @Model.Contact?.Name </h6>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>