@page
@model ProShopPlus.Pages.Contacts.Contacts.IndexModel

@{
    ViewData["Title"] = "Contact Index";
}


<div class="container">
    <div class="row">
        <div class="col-5">
            <h1 class="display-3">Contact index</h1>
        </div>
        <form class="col-5 p-3">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" asp-for="SearchString" placeholder="Search Name" aria-label="Search Name" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
            </div>
        </form>

        <div class="d-grid gap-2 col-2 p-2 px-1">
            
                <a asp-page="./Edit" class="btn btn-lg btn-success">Create Contact</a>
            
        </div>
    </div>
</div>

<!-- Display grid of Contacts -->
<section class="grid">
    <div class="d-flex bg-dark text-white">
        <div class="p-2" style="flex:0 0 25%">Name</div>
        <div class="p-2" style="flex:0 0 15%">Phone Number</div>
        <div class="p-2" style="flex:0 0 20%">Extra Number</div>
        <div class="p-2" style="flex:0 0 25%">Notes</div>
    </div>
    @foreach (var item in Model.ContactList)
    {
        <a class="d-flex border-left border-right border-bottom border-dark" asp-page="./Details" asp-route-id="@item.ID">
            <div class="p-2" style="flex:0 0 25.3%">@item.Name</div>
            <div class="p-2" style="flex:0 0 14.8%">@item.PhoneNumber</div>
            <div class="p-2" style="flex:0 0 20%">@item.AltPhoneNumber</div>
            <div class="p-2" style="flex:0 0 25%">@item.Notes</div>
        </a>
    }
</section>
