@page
@model ProShopPlus.Pages.Contacts.Contacts.IndexModel

@{
    ViewData["Title"] = "Contact Index";
}

<h1>Contact Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>


<section class="grid">
    <div class="d-flex bg-dark text-white">
        <div class="p-2" style="flex:0 0 25%">Name</div>
        <div class="p-2" style="flex:0 0 15%">Phone Number</div>
        <div class="p-2" style="flex:0 0 20%">Extra Number</div>
        <div class="p-2" style="flex:0 0 25%">Notes</div>
    </div>
    @foreach (var item in Model.ContactList)
    {
        <a class="d-flex border-left border-right border-bottom border-dark" asp-page="./Details" asp-route-id="@item.ID">
            <div class="p-2" style="flex:0 0 25.3%">@item.Name</div>
            <div class="p-2" style="flex:0 0 14.8%">@item.PhoneNumber</div>
            <div class="p-2" style="flex:0 0 20%">@item.AltPhoneNumber</div>
            <div class="p-2" style="flex:0 0 25%">@item.Notes</div>
        </a>
    }

  
</section>